.abs-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.imagen {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 80px;
}

.footer{
  padding: 10px;
  bottom: 0px;
  width: 100%;
}

.asado{
  text-align: center ;
  margin: auto;
}